{{#each this}}

{{!-- width="{{webformatWidth}}" height="{{webformatHeight}} --}}

<div class="photo-card">
  <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" "/>
  <div class="info">
    <p class="info-item">
      <b>Likes: </b>{{likes}}
    </p>
    <p class="info-item">
      <b>Views: </b>{{views}}
    </p>
    <p class="info-item">
      <b>Comments: </b>{{comments}}
    </p>
    <p class="info-item">
      <b>Downloads: </b>{{downloads}}
    </p>
  </div>
</div>

{{/each}}

{{!-- collections: 10594
comments: 418
downloads: 391212
id: 736877
imageHeight: 1282
imageSize: 97150
imageWidth: 1920
largeImageURL: "https://pixabay.com/get/gdac0a1325f2dcc2fc24d73589e06ea97d4310b996c4281e98fcbf298bd9832983ce955b6f52fee06c7beaffa4c0b9f93f9ec20225556813c450eb21d0a440543_1280.jpg"
likes: 2440
pageURL: "https://pixabay.com/photos/tree-cat-silhouette-moon-full-moon-736877/"
previewHeight: 100
previewURL: "https://cdn.pixabay.com/photo/2015/04/23/21/59/tree-736877_150.jpg"
previewWidth: 150
tags: "tree, cat, silhouette"
type: "photo"
user: "Bessi"
userImageURL: "https://cdn.pixabay.com/user/2019/04/11/22-45-05-994_250x250.jpg"
user_id: 909086
views: 839829
webformatHeight: 427
webformatURL: "https://pixabay.com/get/gfe7a7e30dc13498cb452df90d052130092f8c76a8dfb2fdcf1a423cd921f4480a5cc196cec20390833864ef1ae12f91e_640.jpg"
webformatWidth: 640 --}}
